botocore
boto3
deepspeed
filelock
scipy
nltk
regex
tqdm
matplotlib
mpi4py
pandas
requests
sentencepiece
ftfy
langdetect
lsh
scikit_learn
tensorboardX
termcolor
tldextract
transformers
rouge_score
fasttext==0.9.1  # 0.9.2 不稳定：https://blog.csdn.net/weixin_43891607/article/details/123201689
unidecode